

.work {
    top: 0px;
    width: 100%;
    height: 100vh;
    background: url('https://wallpapers.com/images/hd/golden-scenic-nature-z143cx7orr8d28al.webp') no-repeat 100%/cover;
    &__animated {   
        animation-name: approach_work;
        animation-duration: 20s;  
        animation-timing-function: linear; 
    }
}

@keyframes approach_work {
    from{
        transform: scale(1);   
    }
    to {
        transform: scale(1.2);
    }
}